node_modules
.env
coverage
coverage.json
typechain
tempNet
cache_forge
broadcast

#Hardhat files
cache
artifacts


# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
.openzeppelin
integrationTests/autID.integration.js

