**/.DS_Store
.env
node_modules
coverage
coverage.json
typechain
tempNet
cache_forge
broadcast
test/testData/LRfuzzDataOut.csv
*.csv

# Volumes
volumes/ipfs
volumes/postgres
volumes/out
volumes/deployments.txt

# Yarn
yarn-error.log

# Hardhat files
cache
artifacts

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
.openzeppelin
integrationTests/autID.integration.js

# Mikhail's personal
turnover.txt
out/

contracts/.expander
contracts/.membershipCheckers
contracts/.mocks
