**/*.DS_Store
.env
node_modules
coverage
coverage.json
typechain
tempNet
cache_forge
broadcast
test/testData/LRfuzzDataOut.csv

#Hardhat files
cache
artifacts


# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
.openzeppelin
integrationTests/autID.integration.js

